# Node modules
node_modules/

# Логи
*.log
logs/

# Временные файлы
tmp/
temp/

# Файлы окружения
.env

# Директории сборки
dist/
build/

# IDE и редакторы
.idea/
.vscode/
*.sublime-workspace
*.sublime-project
example/index.backup.html
example/styles.backup.css

# Файлы системы
.DS_Store
Thumbs.db
